@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
    /* font-family:"Roboto", sans-serif;; */
     font-family: "Carrois Gothic SC", sans-serif;
}
.navSection{
    height: 100px;
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(54, 52, 180); */
    background-color: #F46036;

    align-items: center;
    color: white;   
    padding: 0 20px;
    font-size: large;
}
.sideBarSection{
    width: 100%;
    max-width: 15%;
    height: 95vh;
    padding-top: 10px;
    /* background-color: lightgray; */  
    background-color:#2E294E;
    color: white;

}

.sideBarSection ul li{
    list-style: none;
    margin-bottom: 20px;
    font-weight: 500;
    font-size: medium;
    cursor: pointer;
}

.collectionSection{
    display: flex;
}

/* login section */ 
.loginSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.registerSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.authForm label{
    width: 100%;
    max-width: 55%;
    font-weight: 400;
}
.authForm{
    width: 100%;
    max-width: 50%;
    margin-top: -230px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;

}
.authForm input{
    width: 100%;
    max-width: 55%;
    height: 1.4rem;
}

/*  firmsection add firm */

.firmSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10px;

}
.tableForm{
    width: 100%;
    max-width: 50%;
    margin-top: -100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: -25px 17px 29px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: -25px 17px 29px 0px rgba(0,0,0,0.75);
-moz-box-shadow: -25px 17px 29px 0px rgba(0,0,0,0.75);
border-radius: 10px;

}
.tableForm input{
    width: 100%;
    max-width: 55%;
    height: 35px;
    max-width: 85%;
    margin-bottom: 10px;
}

.tableForm label{
    width: 100%;
    max-width: 85%;
    font-weight: 600;
}
/*  check box inputs*/
.checkInp{
    width: 100%;
    max-width: 85%;
    display: flex;
}
.checkInp label{
    width: 20%;
}

.inputsContainer{
    width: 100%;
    display: flex;
}

.checkboxContainer{
    width: 100%;
    max-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.checkboxContainer label{ 
    width: 100%;
}
.checkboxContainer input{
    margin-left:  -180px;
}
.checkboxContainer{
    font-size: small;
}

.regboxContainer label{
    font-size:small ;
}
/*product table */

.product-table{ 
    margin-top: 50px;
    width: 80vw;
    border-collapse: collapse;
    margin-top: 50px;
    
}
.product-table th,
.product-table td{
    border: 1px solid gray;
    padding: 8px;
}
.product-table th{
    text-align: left;
    background-color: gray;
}
/*  not found  */
.errorSection{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.errorSection h1{
    font-size: 4rem;
}
h3{
    color: #D7263D;
}
/*  btn submit */

.bntSubmit button {
    background-color: rgb(43, 43, 180);
    width: 6rem;
    color: white;
    padding: 10px 0;
    margin-bottom: 20px;
    border-radius: 5px;
}